@using PM_AUTH.Models
@model LoginViewModel
<form asp-controller="Auth" asp-action="Login" method="post">
    <h1>Login</h1>
    <input type="text" asp-for="ReturnUrl" value=@Model.ReturnUrl name="returnurl"/>
    <input type="text" asp-for="Username" name="username"/>
    <input type="text" asp-for="Password" name="password"/>
    <button type="submit">Login</button>
</form>